@use '../abstracts/all' as *

:root
    line-height: 1.2
    font-weight: 400
    font-synthesis: none
    text-rendering: optimizeLegibility

*
    margin: 0
    box-sizing: border-box

body
    margin: 0
    background: $background
    color: $font-color

button
    background: $accent-purple
    color: $background
    border: none
    padding: 10px 30px
    border-radius: 5px
    font-weight: bold
    cursor: pointer
    transition: 300ms ease-in-out
    font-size: 16px
    &:hover
        transition: 300ms ease-in-out
        background: darken($accent-purple, 10%)

h2
    font-size: clamp(1.5rem, 0.875rem + 2vw, 3rem);
    line-height: clamp(2.125rem, 1.5rem + 2vw, 3.625rem);